footer {
    background-color: rgba(105, 172, 172, 0.397);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
} 

.footerButton {
    height: 5em;
    width: 33.33%;
    margin: auto;
    justify-content: center;
    background-color: rgba(105, 172, 172, 0.397);
    border-radius: 5px;
    border: none;
}

.footerButton:hover {
    background-color: rgba(255, 105, 180, 0.445);
    border: 5px solid rgb(105, 172, 172);
}

.homeBtn {
    border-right: 1px solid grey;
}
.diceBtn {
    border-right: 1px solid grey;

}