.quarterImg {
    max-height: 10em;
    max-width: 10em;
}

.flip-horizontal-bottom {
	-webkit-animation: flip-horizontal-bottom 0.15s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3 both;
	        animation: flip-horizontal-bottom 0.15s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3 both;
}

@-webkit-keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  @keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  